@using Fundraise.MvcExample.Models
@model ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Profile</h1>
    <h2>Donations</h2>
</div>
<div class="row">
    <div class="panel panel-default">
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Fundraiser</th>
                <th>Amount</th>
            </tr>
            @foreach (var donation in Model.Donations)
            {
                <tr><td>@donation.DateCreated.ToShortDateString()</td><td>@donation.FundraiserName</td><td>@donation.Amount</td></tr>
            }
        </table>
    </div>

</div>
@section headSection {
}