@using Fundraise.MvcExample.Models
@model CampaignFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name</h2>

<strong>Emd date:</strong>
@Model.EndDate<br />

<strong>Description</strong>
@Model.Description
