@using Fundraise.MvcExample.Models
@model AdminViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Fundraise Admin</h1>
    <h2>Campaigns</h2>
</div>
<ul class="list-group">
@foreach (var campaign in Model.Campaigns)
{
    <li class="list-group-item">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><h3>@Html.ActionLink(campaign.Name, "CampaignDetail", "Admin", new { id = campaign.Id }, null)</h3></div>
            <div class="panel-body">
                @if (campaign.Fundraisers.Count > 0)
                {
                    <ul class="list-group">
                        @foreach (var fundraiser in campaign.Fundraisers)
                        {
                            <li class="list-group-item">@Html.ActionLink(fundraiser.Name, "FundraiserEdit", "Admin", new { id = fundraiser.Id}, null)</li>
                        }
                    </ul>
                }
                else
                {
                    <p class="h4">This campaign has no fundraisers.</p>
                }
                @Html.ActionLink("New Fundraiser", "FundraiserCreate", new { campaignId = campaign.Id}, null)
                <button type="button" class="btn btn-default">New Fundraiser</button>
            </div>
        </div>
    </li>
}
</ul>
@Html.ActionLink("New Campaign", "CampaignCreate", null, new { @class = "btn btn-default" })
