@using Fundraise.MvcExample.Models
@model FundraiserFormViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h1>Thank you for your donation</h1>
</div>
<div class="row">


</div>
@section headSection {
}